.product-card {
     display: flex;
  flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    color: #333;
    align-items: center;
    text-align: center;
    max-height: auto;
}
.product-card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    text-transform: capitalize;
}
button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}


img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
